body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
}

.einkaufsliste {
    width: 300px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.einkaufsliste ul {
    list-style: none;
    padding: 0;
}

.einkaufsliste li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.einkaufsliste li:last-child {
    border-bottom: none;
}

.item-name {
    flex-grow: 1;
}

.hinzufuegen-container {
    margin-top: 10px;
    display: flex;
}

.hinzufuegen-container input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hinzufuegen-container button {
    margin-left: 5px;
    padding: 8px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
